#home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 100vw;


}

.sidebar{
   background-color: rgb(25, 26, 26);
    grid-column: 1/3;
    grid-row: 1/13;
}

.navbar{
    background-color: rgb(34, 33, 33);
    grid-column: 3/13;
    grid-row: 1/2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
   
}

.main{
    
     grid-column: 3/13;
     grid-row: 2/13;


}